<div class="footer__wrapper">
	<div class="footer">
		<div class="row no-gutters">
			<div class="col-12">
				<div class="footer__jump-to-top js-footer__jump-to-top">
					<span class="icon-chevron-up-circle-outline footer__jump-to-top--icon"></span>
					<span>برگشت به بالا</span>
				</div>
				<div class="footer__services">
					<div class="row no-gutters">
						<div class="col-6 col-md">
							<a href="#" class="footer__services-item footer__services-item--express">
								تحویل اکسپرس
							</a>
						</div>
						<div class="col-6 col-md">
							<a href="#" class="footer__services-item footer__services-item--contact">
								پشتیبانی 24 ساعته
							</a>
						</div>
						<div class="col-6 col-md">
							<a href="#" class="footer__services-item footer__services-item--pay">
								پرداخت در محل
							</a>
						</div>
						<div class="col-6 col-md">
							<a href="#" class="footer__services-item footer__services-item--warranty">
								7 روز ضمانت بازگشت
							</a>
						</div>
						<div class="col-12 col-md">
							<a href="#" class="footer__services-item footer__services-item--original">
								ضمانت اصل بون کالا
							</a>
						</div>
					</div>			
				</div>
				<div class="footer__middlebar">
					<div class="row no-gutters">
						<div class="col-12 col-md-3">
							<div class="footer__links">
								<div class="footer__links-title">
									راهنمای خرید از دیجیکالا
								</div>
								<ul class="footer__links-list">
									<li class="footer__links-list-item">
										<a href="#">
											نحوه ثبت سفارش
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											رویه ارسال سفارش
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											شیوه پرداخت
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-md-3">
							<div class="footer__links">
								<div class="footer__links-title">
									خدمات مشتریات
								</div>
								<ul class="footer__links-list">
									<li class="footer__links-list-item">
										<a href="#">
											پاسخ به پرسش های متداول
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											رویه های بازگرداندن کالا
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											شرایط استفاده
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											حریم خصوصی
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											گزارش باگ
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-md-3">
							<div class="footer__links">
								<div class="footer__links-title">
									با دیجی کالا
								</div>
								<ul class="footer__links-list">
									<li class="footer__links-list-item">
										<a href="#">
											اتاق خبر دیجیکالا
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											فروش در دیجیکالا
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											فرصت های شغلی
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											تماس با دیجی کالا
										</a>
									</li>
									<li class="footer__links-list-item">
										<a href="#">
											درباره دیجیکالا
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-md-3">
							<div class="footer__newsletter">
								<div class="footer__newsletter-title">
									اطلاع از آخرین محصولات:
								</div>
								<div class="footer__newsletter-form">
									<input class="footer__newsletter-input" type="text" placeholder="آدرس ایمیل خود را وارد کنید">
									<button class="footer__newsletter-button">ارسال</button>
								</div>
								<div class="footer__socials">
									<div class="footer__socials-title">
										ما را در شبکه های اجتماعی دنبال کنید:
									</div>
									<div class="footer__socials-wrapper">
										<a href="#" class="footer__socials-link">
											<span class="icon-chatbubble-outline">
											</span>
										</a>
										<a href="#" class="footer__socials-link">
											<span class="icon-questions">
											</span>
										</a>
										<a href="#" class="footer__socials-link">
											<span class="icon-question-add">
											</span>
										</a>
										<a href="#" class="footer__socials-link">
											<span class="icon-chatbubbles-outline">
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__address">
					<div class="row no-gutters">
						<div class="col-12 col-md-7">
							<ul class="footer__address-list">
								<li class="footer__address-list-item">هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</li>
								<li class="footer__address-list-item">شماره تلفن: 021-123456789</li>
								<li class="footer__address-list-item">آدرس ایمیل: info@irankala.com</li>
							</ul>
						</div>
						<div class="col-12 col-md-5">
							<div class="footer__download">
								<a href="#" class="footer__download-link">
									<img src="assets/images/bazar.png" alt="">
								</a>
								<a href="#" class="footer__download-link">
									<img src="assets/images/sibapp.png" alt="">
								</a>
								<a href="#" class="footer__download-link">
									<img src="assets/images/playstore.png" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__info">
					<div class="row no-gutters">
						<div class="col-12 col-md-7">
							<div class="footer__info-about">
								<div class="footer__info-about-title">
									فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین
								</div>
								<div class="footer__info-about-text">
									ایران شاپ به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل کلیدی، پرداخت در محل، ۷ روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به ایران شاپ با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد
								</div>
							</div>
						</div>
						<div class="col-12 col-md-5">
							<div class="footer__licences">
								<img class="footer__licences-item" src="assets/images/namad.png" alt="">
								<img class="footer__licences-item" src="assets/images/reza.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="footer__partners-wrapper">
					<div class="footer__partners">
						<div class="row no-gutters">
							<div class="col-4 col-md-2">
								<a href="#" class="footer__partners-item">
									<img src="assets/images/fidibo.svg" alt="">
								</a>
							</div>
							<div class="col-4 col-md-2">
								<a href="#" class="footer__partners-item">
									<img src="assets/images/digikalaaffiliate.svg" alt="">
								</a>
							</div>
							<div class="col-4 col-md-2">
								<a href="#" class="footer__partners-item">
									<img src="assets/images/digiclub.svg" alt="">
								</a>
							</div>
							<div class="col-4 col-md-2">
								<a href="#" class="footer__partners-item">
									<img src="assets/images/digistyle.svg" alt="">
								</a>
							</div>
							<div class="col-4 col-md-2">
								<a href="#" class="footer__partners-item">
									<img src="assets/images/digipay.svg" alt="">
								</a>
							</div>
							<div class="col-4 col-md-2">
								<a href="#" class="footer__partners-item">
									<img src="assets/images/digikalamag.svg" alt="">
								</a>
							</div>
						</div>								
					</div>
				</div>
				<div class="footer__copyright">
					<div class="row no-gutters">
						<div class="col-12">
							استفاده از مطالب فروشگاه اینترنتی ایران شاپ فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به ایران شاپ می‌باشد. Copyright © 2006 - 2020
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
