<div class="brand-slider__wrapper">
	<div class="brand-slider">
		<div class="brand-slider__title-wrapper">
			<div class="brand-slider__title">
				برندها
			</div>
			<div class="brand-slider__title-line">
			</div>
		</div>
		<div class="swiper-container brand-slider__container js-brand-slider">
		  <div class="swiper-wrapper">
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand_2.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand_2.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand_2.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide brand-slider__slide">
					<div class="brand-slider__item">
						<div class="brand-slider__image">
							<a href="#">
								<img class="swiper-lazy" data-src="assets/images/brand_2.png" alt="">
							</a>
						</div>
					</div>
				</div>
		  </div>
		  <!-- Add Arrows -->
		  <div class="swiper-button-next brand-slider-button-next"></div>
		  <div class="swiper-button-prev brand-slider-button-prev"></div>
	    <!-- Add Scrollbar -->
	    <div class="swiper-scrollbar brand-slider__scrollbar"></div>
		</div>		
	</div>
</div>