<div class="main-slider__wrapper">
	<div class="swiper-container main-slider__container js-main-slider">
	  <div class="swiper-wrapper">
	    <div class="swiper-slide main-slider__slide">
	    	<a href="#" class="">
	        <img src="assets/images/slider_1.jpg" alt="">
	    	</a>
	    </div>
	    <div class="swiper-slide main-slider__slide">
	    	<a href="#" class="">
	        <img src="assets/images/slider_2.jpg" alt="">
	    	</a>
	    </div>
	    <div class="swiper-slide main-slider__slide">
	    	<a href="#" class="">
	        <img src="assets/images/slider_3.jpg" alt="">
	    	</a>
	    </div>
	    <div class="swiper-slide main-slider__slide">
	    	<a href="#" class="">
	        <img src="assets/images/slider_4.jpg" alt="">
	    	</a>
	    </div>
	    <div class="swiper-slide main-slider__slide ">
	    	<a href="#" class="-link">
	        <img src="assets/images/slider_5.jpg" alt="">
	    	</a>
	    </div>
	    <div class="swiper-slide main-slider__slide">
	    	<a href="#" class="">
	        <img src="assets/images/slider_6.jpg" alt="">
	    	</a>
	    </div>
	  </div>
	  <!-- If we need pagination -->
    <div class="swiper-pagination main-slider__pagination"></div>
	  <!-- Add Arrows -->
	  <div class="swiper-button-next main-slider__button-next"></div>
	  <div class="swiper-button-prev main-slider__button-prev"></div>
	</div>		
</div>

