<div class="moment-slider__wrapper">
	<div class="moment-slider">
		<div class="moment-slider__title">
			پیشنهاد لحظه ای
		</div>
		<div class="swiper-container moment-slider__slides js-moment-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide moment-slider__item">
					<div class="moment-slider__loader-wrapper">
						<div class="moment-slider__loader">
						</div>
					</div>
					<a href="#" class="moment-slider__image">
						<img src="assets/images/product_3.jpg" alt="">
					</a>
					<div class="moment-slider__details">
						<a href="#" class="moment-slider__product-name">
							متابوک هواوای دی رایزن 5
						</a>
						<div class="moment-slider__price">
							<div class="moment-slider__price--old">
							  <span class="moment-slider__price-value">10,800,000</span>
								<span class="moment-slider__price-currency">تومان</span>
							</div>
							<div class="moment-slider__price--new">
							  <span class="moment-slider__price-value">7,800,000</span>
								<span class="moment-slider__price-currency">تومان</span>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide moment-slider__item">
					<div class="moment-slider__loader-wrapper">
						<div class="moment-slider__loader">
						</div>
					</div>
					<a href="#" class="moment-slider__image">
						<img src="assets/images/product_4.jpg" alt="">
					</a>
					<div class="moment-slider__details">
						<a href="#" class="moment-slider__product-name">
							متابوک هواوای دی رایزن 5
						</a>
						<div class="moment-slider__price">
							<div class="moment-slider__price--old">
							  <span class="moment-slider__price-value">10,800,000</span>
								<span class="moment-slider__price-currency">تومان</span>
							</div>
							<div class="moment-slider__price--new">
							  <span class="moment-slider__price-value">7,800,000</span>
								<span class="moment-slider__price-currency">تومان</span>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>