<div class="product-slider__wrapper">
	<div class="product-slider">
		<div class="product-slider__title-wrapper">
			<div class="product-slider__title">
				لپ تاپ و الترابوک
			</div>
			<div class="product-slider__title-line">
				مشاهده همه
			</div>
		</div>
		<div class="swiper-container product-slider__container js-slider">
		  <div class="swiper-wrapper">
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__item">
						<a href="/product.html" class="product-slider__image">
							<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
							<div class="product-slider__discount-badge">
								% 43.2
							</div>
							<span class="product-slider__product-name">
					      گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل 
							</span>
						</a>
						<div class="product-slider__details">
							<div class="product-slider__price">
								<a href="/product.html">
									<div class="product-slider__price--old">
										<span class="product-slider__price-value">4,000,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
									<div class="product-slider__price--new">
										<span class="product-slider__price-value">2,700,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
								</a>
							</div>
							<ul class="product-slider__actions">
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__cart">
										<span class="icon-cart-outline"></span>
										<div class="product-slider__cart--tooltip">
											افزودن به سبد خرید
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__view">
										<span class="icon-search-outline"></span>
										<div class="product-slider__view--tooltip">
											مشاهده سریع محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__compare">
										<span class="icon-filter-outline"></span>
										<div class="product-slider__compare--tooltip">
											مقایسه محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__like">
										<span class="icon-heart-outline"></span>
										<div class="product-slider__like--tooltip">
											افزودن به علاقه مندی ها
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__item">
						<a href="/product.html" class="product-slider__image">
							<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
							<div class="product-slider__discount-badge">
								% 43.2
							</div>
							<span class="product-slider__product-name">
					      گوشی موبایل سامسونگ مدل 
							</span>
						</a>
						<div class="product-slider__details">
							<div class="product-slider__price">
								<a href="/product.html">
									<div class="product-slider__price--old">
										<span class="product-slider__price-value">4,000,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
									<div class="product-slider__price--new">
										<span class="product-slider__price-value">2,700,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
								</a>
							</div>
							<ul class="product-slider__actions">
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__cart">
										<span class="icon-cart-outline"></span>
										<div class="product-slider__cart--tooltip">
											افزودن به سبد خرید
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__view">
										<span class="icon-search-outline"></span>
										<div class="product-slider__view--tooltip">
											مشاهده سریع محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__compare">
										<span class="icon-filter-outline"></span>
										<div class="product-slider__compare--tooltip">
											مقایسه محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__like">
										<span class="icon-heart-outline"></span>
										<div class="product-slider__like--tooltip">
											افزودن به علاقه مندی ها
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__item">
						<a href="/product.html" class="product-slider__image">
							<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
							<div class="product-slider__discount-badge">
								% 43.2
							</div>
							<span class="product-slider__product-name">
					      گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل 
							</span>
						</a>
						<div class="product-slider__details">
							<div class="product-slider__price">
								<a href="/product.html">
									<div class="product-slider__price--old">
										<span class="product-slider__price-value">4,000,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
									<div class="product-slider__price--new">
										<span class="product-slider__price-value">2,700,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
								</a>
							</div>
							<ul class="product-slider__actions">
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__cart">
										<span class="icon-cart-outline"></span>
										<div class="product-slider__cart--tooltip">
											افزودن به سبد خرید
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__view">
										<span class="icon-search-outline"></span>
										<div class="product-slider__view--tooltip">
											مشاهده سریع محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__compare">
										<span class="icon-filter-outline"></span>
										<div class="product-slider__compare--tooltip">
											مقایسه محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__like">
										<span class="icon-heart-outline"></span>
										<div class="product-slider__like--tooltip">
											افزودن به علاقه مندی ها
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__item">
						<a href="/product.html" class="product-slider__image">
							<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
							<div class="product-slider__discount-badge">
								% 43.2
							</div>
							<span class="product-slider__product-name">
					      گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل 
							</span>
						</a>
						<div class="product-slider__details">
							<div class="product-slider__price">
								<a href="/product.html">
									<div class="product-slider__price--old">
										<span class="product-slider__price-value">4,000,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
									<div class="product-slider__price--new">
										<span class="product-slider__price-value">2,700,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
								</a>
							</div>
							<ul class="product-slider__actions">
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__cart">
										<span class="icon-cart-outline"></span>
										<div class="product-slider__cart--tooltip">
											افزودن به سبد خرید
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__view">
										<span class="icon-search-outline"></span>
										<div class="product-slider__view--tooltip">
											مشاهده سریع محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__compare">
										<span class="icon-filter-outline"></span>
										<div class="product-slider__compare--tooltip">
											مقایسه محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__like">
										<span class="icon-heart-outline"></span>
										<div class="product-slider__like--tooltip">
											افزودن به علاقه مندی ها
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__item">
						<a href="/product.html" class="product-slider__image">
							<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
							<div class="product-slider__discount-badge">
								% 43.2
							</div>
							<span class="product-slider__product-name">
					      گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل 
							</span>
						</a>
						<div class="product-slider__details">
							<div class="product-slider__price">
								<a href="/product.html">
									<div class="product-slider__price--old">
										<span class="product-slider__price-value">4,000,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
									<div class="product-slider__price--new">
										<span class="product-slider__price-value">2,700,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
								</a>
							</div>
							<ul class="product-slider__actions">
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__cart">
										<span class="icon-cart-outline"></span>
										<div class="product-slider__cart--tooltip">
											افزودن به سبد خرید
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__view">
										<span class="icon-search-outline"></span>
										<div class="product-slider__view--tooltip">
											مشاهده سریع محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__compare">
										<span class="icon-filter-outline"></span>
										<div class="product-slider__compare--tooltip">
											مقایسه محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__like">
										<span class="icon-heart-outline"></span>
										<div class="product-slider__like--tooltip">
											افزودن به علاقه مندی ها
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__item">
						<a href="/product.html" class="product-slider__image">
							<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
							<div class="product-slider__discount-badge">
								% 43.2
							</div>
							<span class="product-slider__product-name">
					      گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل 
							</span>
						</a>
						<div class="product-slider__details">
							<div class="product-slider__price">
								<a href="/product.html">
									<div class="product-slider__price--old">
										<span class="product-slider__price-value">4,000,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
									<div class="product-slider__price--new">
										<span class="product-slider__price-value">2,700,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
								</a>
							</div>
							<ul class="product-slider__actions">
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__cart">
										<span class="icon-cart-outline"></span>
										<div class="product-slider__cart--tooltip">
											افزودن به سبد خرید
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__view">
										<span class="icon-search-outline"></span>
										<div class="product-slider__view--tooltip">
											مشاهده سریع محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__compare">
										<span class="icon-filter-outline"></span>
										<div class="product-slider__compare--tooltip">
											مقایسه محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__like">
										<span class="icon-heart-outline"></span>
										<div class="product-slider__like--tooltip">
											افزودن به علاقه مندی ها
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="swiper-slide product-slider__slide">
					<div class="product-slider__item">
						<a href="/product.html" class="product-slider__image">
							<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
							<div class="product-slider__discount-badge">
								% 43.2
							</div>
							<span class="product-slider__product-name">
					      گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل گوشی موبایل سامسونگ مدل 
							</span>
						</a>
						<div class="product-slider__details">
							<div class="product-slider__price">
								<a href="/product.html">
									<div class="product-slider__price--old">
										<span class="product-slider__price-value">4,000,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
									<div class="product-slider__price--new">
										<span class="product-slider__price-value">2,700,000</span>
										<span class="product-slider__price-currency">تومان</span>
									</div>
								</a>
							</div>
							<ul class="product-slider__actions">
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__cart">
										<span class="icon-cart-outline"></span>
										<div class="product-slider__cart--tooltip">
											افزودن به سبد خرید
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__view">
										<span class="icon-search-outline"></span>
										<div class="product-slider__view--tooltip">
											مشاهده سریع محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__compare">
										<span class="icon-filter-outline"></span>
										<div class="product-slider__compare--tooltip">
											مقایسه محصول
										</div>
									</a>
								</li>
								<li class="product-slider__actions-item">
									<a href="#" class="product-slider__like">
										<span class="icon-heart-outline"></span>
										<div class="product-slider__like--tooltip">
											افزودن به علاقه مندی ها
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

		  </div>
		  <!-- Add Arrows -->
		  <div class="swiper-button-next products-button-next"></div>
		  <div class="swiper-button-prev products-button-prev"></div>
	    <!-- Add Scrollbar -->
	    <div class="swiper-scrollbar product-slider__scrollbar"></div>
		</div>		
	</div>
</div>