<div class="row">
	<div class="col-12">
		<div class="special-slider__wrapper">
			<div class="special-slider__title-wrapper">
				<div class="special-slider__title">
					پیشنهاد های شگفت انگیز					
				</div>
			</div>
			<div class="special-slider">
				<div class="special-slider__right-side">
					<a href="#" class="special-slider__link">
						<img src="assets/images/special_offer_1.png" alt="">
					</a>
					<a href="#" class="special-slider__button">
						<span>مشاهده همه</span>
						<span class="icon-back-outline special-slider__icon"></span>
					</a>
				</div>


				<div class="swiper-container special-slider__container js-special-slider">
				  <div class="swiper-wrapper">
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">14</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">04</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">04</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">18</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">21</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
				  </div>
				  <!-- Add Arrows -->
				  <div class="swiper-button-next special-slider-button-next"></div>
				  <div class="swiper-button-prev special-slider-button-prev"></div>
			    <!-- Add Scrollbar -->
			    <div class="swiper-scrollbar special-slider__scrollbar"></div>
				</div>		
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="special-slider__wrapper special-slider__wrapper--green">
			<div class="special-slider__title-wrapper">
				<div class="special-slider__title">
					شگفت انگیز های سوپر مارکتی					
				</div>
			</div>
			<div class="special-slider">
				<div class="special-slider__right-side">
					<a href="#" class="special-slider__link">
						<img src="assets/images/special_offer_2.png" alt="">
					</a>
					<a href="#" class="special-slider__button">
						<span>مشاهده همه</span>
						<span class="icon-back-outline special-slider__icon"></span>
					</a>
				</div>


				<div class="swiper-container special-slider__container js-special-slider">
				  <div class="swiper-wrapper">
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">15</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">01</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">00</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide special-slider__slide js-special-slider__slide">
							<div class="special-slider__item">
								<div class="special-slider__image">
									<a href="#">
										<img class="swiper-lazy" data-src="assets/images/product_4.jpg" alt="">
										<div class="special-slider__discount-badge">
											% 43.2
										</div>
									</a>
								</div>
								<div class="special-slider__details">
									<a href="#" class="special-slider__product-name">
							      گوشی موبایل سامسونگ مدل  
									</a>
									<div class="special-slider__price">
										<div class="special-slider__price--old">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
										<div class="special-slider__price--new">
											<span class="special-slider__price-value">2,300,000</span>
											<span class="special-slider__price-currency">تومان</span>
										</div>
									</div>
								</div>
								<div class="special-slider__counter">
									<div class="special-slider__counter-seconds js-special-slider__counter-seconds">12</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-minutes js-special-slider__counter-minutes">42</div>
									<span class="special-slider__counter-separator">:</span>
									<div class="special-slider__counter-hour js-special-slider__counter-hour">08</div>
									<div class="special-slider__counter-icon">
										<span class="icon-trash-outline"></span>
									</div>
								</div>
							</div>
						</div>
				  </div>
				  <!-- Add Arrows -->
				  <div class="swiper-button-next special-slider-button-next"></div>
				  <div class="swiper-button-prev special-slider-button-prev"></div>
			    <!-- Add Scrollbar -->
			    <div class="swiper-scrollbar special-slider__scrollbar"></div>
				</div>		
			</div>
		</div>
	</div>
</div>