<div class="categories__wrapper">
	<div class="categories__header">
		بیش از 7،000 کالا در دسته بندی های مختلف
	</div>
	<div class="categories">
		<div class="categories__group">
			<a href="#" class="categories__link">
				<span class="icon-laptop-outline categories__icon"></span>
				<div class="categories__title">کالای دیجیتال</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-heart-outline categories__icon"></span>
				<div class="categories__title">آرایشی، بهداشتی و سلامت</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-build-outline categories__icon"></span>
				<div class="categories__title">خودرو، ابزار و اداری</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-shirt-outline categories__icon"></span>
				<div class="categories__title">مد و پوشاک</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-leaf-outline categories__icon"></span>
				<div class="categories__title">خانه و آشپر هانه</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-book-outline categories__icon"></span>
				<div class="categories__title">کتاب، لوازم تحریر و هنر</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-paw-outline categories__icon"></span>
				<div class="categories__title">اسباب بازی، کودک و نوزاد</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-basketball-outline categories__icon"></span>
				<div class="categories__title">ورزش و سفر</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
			<a href="#" class="categories__link">
				<span class="icon-fast-food-outline categories__icon"></span>
				<div class="categories__title">خوردنی و آشامیدنی</div>
				<div class="categories__product-count">200 <span>کالا</span></div>
			</a>
		</div>
	</div>
</div>