@import 'partials/variables/_values';

// No media query since this is the default style

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  outline: none;
}

html {
  font-size: $default-font-size;
}

body {
  background-color: $background-color;
  font-family: $default-font-name ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-align: right;
  direction: rtl;
  color: $text-color;
  width: 100%;
  padding-top: 140px;
}

a, a:active{
  color: $link-active-color;
  transition: all $transition-time;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

p {
  line-height: 26px;
}

button:focus {
  outline: 0;
}


.container-gap {
  padding: 0 7.5px;
}

.swiper-container {
  // z-index: unset;
  z-index: 0;
}
.swiper-container-horizontal>.swiper-scrollbar {
  bottom: 0;
  height: 3px;
}

.swiper-scrollbar-drag {
  background-color: rgba(0, 0, 0, 0.2);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  pointer-events: all;
}

.required {
  color: red;
  margin-right: 4px;
  line-height: 1;
}

.starrr {
  display: flex;


  i {
    font-size: inherit;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
  }
}

.validation-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.noUi-target {
  border: none;
  box-shadow: none;
  background-color: lighten($icon-color, 20%);
}

.noUi-horizontal {
  height: 1px;
}

.noUi-connect {
  background: $secondary-color;
}

.noUi-handle {
  border-radius: 50% !important;
  width: 22px !important;
  height: 22px !important;
  top: -10px !important;
  right: -10px !important;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;
  cursor: pointer;
}

.noUi-handle-lower {
  // right: -4px !important;
}

.noUi-handle-lower::after {
  content: '<';
  position: absolute;
  width: 22px;
  height: 22px;
  top: -1px;
  font-size: 18px;
  left: 0;
  text-align: center;
  color: #7d7d7d;
  background-color: unset;
}

.noUi-handle-lower::before {
  background-color: unset;
}

.noUi-handle-upper::after {
  content: '>';
  position: absolute;
  width: 22px;
  height: 22px;
  top: -1px;
  font-size: 18px;
  left: 0;
  text-align: center;
  color: #7d7d7d;
  background-color: unset;
}
.noUi-handle-upper::before {
  background-color: unset;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}  

@keyframes rotateForward {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}      
@keyframes rotateBackward {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

@import '_header__responsive';
@import 'sliders/_main-slider';
@import 'banners/_banner-side';
@import 'sliders/_special-slider';
// @import 'banners/_side-banner';
@import 'banners/_banner-full-width';
@import 'banners/_banner-quarter';
@import 'banners/_banner-double';
@import 'sliders/_moment-slider';
@import 'sliders/_product-slider';
@import 'sliders/_brand-slider';
@import '_footer';
@import 'others/_categories';
@import 'others/_breadcrumbs';
@import 'others/_modal';
@import 'others/_magnify';
@import 'pages/_product';
@import 'pages/_result';


@import 'partials/utilities/_default-select2-style';
@import 'partials/utilities/_gaps';





.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.page {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

.modal {
  background-color: #fff;
  border-radius: 6px;
  margin: 32px;
  margin-top: 128px;
  padding: 16px;
  
  &-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
  }

  &--hide {
    display: none;
  }

  &--show {
    display: block;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 12px;
    margin-bottom: 12px;
    font-weight: bold;
  }

  &__content {

  }
}