.footer {
  background-color: #eceff1;
  width: 100%;

  &__wrapper {
    margin: 0 -22.5px;
  }

  &__jump-to-top {
    width: 100%;
    background-color: $background-color;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #cfd8dc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 1.429rem;
    line-height: 60px;

    &--icon {
      margin-left: 10px;
      font-size: 2rem;
    }
  }

  &__services {
    border-bottom: 1px solid #cfd8dc;
    padding-bottom: 30px;
    margin: 0 15px;

    &-item {

      text-align: center;
      position: relative;
      padding-top: 86px;
      font-size: 13px;
      font-size: .929rem;
      line-height: 1.692;
      color: #606060;
      letter-spacing: .2px;
      margin: auto;
      display: block;

      &--express {
        background: url('../images/express.svg') 43% 20px no-repeat;
        background-size: auto 58px;
      }

      &--contact {
        background: url('../images/contact.svg') 50% 20px no-repeat;
        background-size: auto 58px;
      }
      &--pay {
        background: url('../images/pay.svg') 50% 20px no-repeat;
        background-size: auto 58px;
      }
      &--warranty {
        background: url('../images/warranty.svg') 50% 20px no-repeat;
        background-size: auto 58px;
      }
      &--original {
        background: url('../images/original.svg') 50% 20px no-repeat;
        background-size: auto 58px;
      }


      &-title {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__middlebar {
    border-bottom: 1px solid #cfd8dc;
    padding: 15px 7.5px;
    margin: 0 15px;
  }

  &__links {

    &-title{
      font-weight: bold;
      font-size: 1.142rem;
      line-height: 44px;
    }

    &-list {

      &-item {
        line-height: 28px;
      }
    }
  }

  &__newsletter {

    &-title {
      font-weight: bold;
      font-size: 1.142rem;
      line-height: 44px;
      margin-bottom: 20px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;
    }

    &-input {
      border: 1px solid #c8c8c8;
      padding: 10px;
      border-radius: $default-radius;
      width: 100%;
      height: 44px;
      margin-bottom: 10px;
    }

    &-button {
      background-color: $secondary-color;
      border: none;
      border-radius: $default-radius;
      color: #fff;
      padding: 10px;
      padding: 5px 15px;
      height: 44px;
      width: 100%;
      cursor: pointer;
      transition: all $transition-time;

      &:hover {
        background-color: lighten($secondary-color, 3%);
      }
    }
  }

  &__socials {

    &-title {
      font-size: 1.142rem;
      margin-bottom: 20px;
    }

    &-wrapper {
      display: flex;
      width: 100%;
    }

    &-link {
      font-size: $font-icon-size;
      color: #9099a4 ;
      line-height: 28px;

      &:not(:first-child) {
        margin-right: 20px; 
      }
    }
  }

  &__address {
    padding: 15px 7.5px;
    margin: 0 15px;

    &-list {
      margin-bottom: 30px;

      &-item {
        padding: 0 4px;
        display: inline-block;
      }
    }
  }

  &__download {
    text-align: center;

    &-link {
      margin: 0 2px;
      display: inline-block;
    }
  }

  &__info {
    background-color: #d7dee0;
    padding: 15px;

    &-about {
      margin-bottom: 20px;

      &-title {
        font-weight: bold;
        font-size: 1.142rem;
        line-height: 44px;
        margin-bottom: 20px;
      }

      &-text {
        font-size: 0.857rem;
        line-height: 2rem;
      }
    }
  }

  &__licences {
    display: flex;
    justify-content: center;

    &-item {
      width: 145px;
      height: auto;
      background-color: #f0f0f0;
      margin: 5px;
      padding: 15px;
      border-radius: $default-radius;
    }
  }

  &__partners {
    border-bottom: 1px solid #b0bec5;
    padding: 15px 0;

    &-wrapper {
      background-color: #d7dee0;
      padding: 15px;
    }

    &-item {
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      max-width: 140px;
    }
  }

  &__copyright {
    padding: 15px;
    background-color: #d7dee0;
  }
}